body{
    font-family:Arial, Helvetica, sans-serif
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  .small-para {
    font-size: 14px;
    font-weight: 800;
  }
  
  .para {
    font-size: 22px;
  }
  .small-para{
    font-size: 14px;
  }
  
  #confirm-button {
    background: green;
    color: white;
    font-weight: bold;
  } 
  
  .button{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    font-size: 20px;
  }
  
  .text {
    color: rgb(0, 0, 0);
    font-weight: thin;
    font-size: 20px;
  }
  
  div.child {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 800;
  }